In [1]:
import pandas as pd
import sqlite3

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
#open author_ids.txt
with open('author_ids.txt') as f:
    author_ids = f.read().splitlines()

In [6]:
author_ids[0]

'https://openalex.org/A5017801365'

In [5]:
author_works = pd.DataFrame(columns=['author_id', 'work_id'])

In [41]:
for author in author_ids:
    author_id = author.split('/')[-1]
    df = pd.read_parquet(f'/Volumes/Samsung_T5/OpenAlex_Works/author_publications_{author_id}.parquet')
    author_works = pd.concat([author_works, pd.DataFrame({'author_id': author_id, 'work_id': df['id']})], ignore_index=True)

In [44]:
#open the database
conn = sqlite3.connect('aisci.db')
author_works.to_sql('author_works', conn, if_exists='replace', index=False)
conn.close()

In [54]:
for i in range(416,512):
    #open parquet
    df = pd.read_parquet(f'/Volumes/Samsung_T5/OpenAlex_Works/author_publications_{i}.parquet')
    #open the database
    conn = sqlite3.connect('/Volumes/Samsung_T5/AISCI/aisci.db')
    #write to the database
    df.to_sql('works', conn, if_exists='append', index=False)
    conn.close()
    print(i)

DatabaseError: database disk image is malformed

In [55]:
#remove duplicates
conn = sqlite3.connect('/Volumes/Samsung_T5/AISCI/aisci.db')
conn.execute('DELETE FROM works WHERE rowid NOT IN (SELECT MIN(rowid) FROM works GROUP BY id)')

DatabaseError: database disk image is malformed

In [57]:
conn.close()